<div class="light-to-dark-teal go-full-screen-box">
  <div class="ui container">
    <div class="ui grid p-15">

      <div class="row" style="height: 9vh;">
        <div class="five wide column">
          <img src="assets/images/left-arrow.png" style="width: 7vmin;" class="ui icon" [routerLink]="'/home'">
        </div>
        <div class="eleven wide column font-size-5vw"></div>
      </div>

      <div class="row" style="padding-top: 1.5em;">
        <div class="sixteen wide column">
          <div class="bold-font-weight font-roboto text-white font-size-9vw">Refer & Earn</div>
          <div class="font-rancho text-white pt-5 font-size-5vw line-height-normal">Invite your friends to earn money, use this link to get joining bonus.</div>
        </div>
      </div>

      <div class="row" style="margin-top: 6vmin;">
        <div class="sixteen wide column">
          <div class="ui card add-scrolling hide-scrollbar" style="border-radius: 3vmin;width: 100%;padding-bottom: 20vmin;">
            <div class="content" style="padding: 0;">

              <img src="assets/images/share-the-app-img.png" class="ui image" style="width: 100%;">

              <div style="padding: 6vw 6vw 0 6vw;">
                <span class="font-size-5vw bolder-font-weight">Your refer link</span> <img src="assets/images/double-square-icon.png" style="width: 5vw;" class="ui right floated icon">
              </div>

              <div style="padding: 3.5vw 4vw 0 4vw;">
                <div class="ui fluid input">
                  <input type="text" placeholder="https://play.google.com/store/apps/det.." style="background: rgba(248, 248, 248, 0.8); border-radius: 3vmin; font-size: 3.5vw;">
                </div>
              </div>

              <div style="padding: 3.5vw 4vw 0 6vw">
                <div class="ui grid">
                  <div class="sixteen wide column">
                    <div class="ui left floated bold-font-weight font-size-5vw" style="position: absolute; top: 45%; transform: translateY(-50%);">Share via:</div>

                    <div class="ui right floated image">
                      <div class="center aligned row">
                        <img class="ui icon" src="assets/images/more-icon.png" style="width: 9vw;">
                      </div>
                      <div class="center aligned row font-size-3vw line-height-normal">
                        more
                      </div>
                    </div>

                    <div class="ui right floated image">
                      <div class="center aligned row">
                        <img class="ui icon" src="assets/images/facebook-icon.png" style="width: 9vw;">
                      </div>
                      <div class="center aligned row font-size-3vw line-height-normal">
                        facebook
                      </div>
                    </div>

                    <div class="ui right floated image">
                      <div class="center aligned row">
                        <img class="ui icon" src="assets/images/whatsApp-icon.png" style="width: 9vw;">
                      </div>
                      <div class="center aligned row font-size-3vw line-height-normal">
                        whatsapp
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div style="padding: 3.5vw 6vw 0 7vw;">
                <div class="ui grid">

                  <div class="row">
                    <div class="sixteen wide column">
                      <span class="font-size-5vw bolder-font-weight line-height-normal">The Power of Network</span> <img src="assets/images/information-icon.png" style="width: 5vw;" class="ui right floated icon">
                    </div>
                    <div class="sixteen wide column font-roboto font-size-3vw line-height-normal">
                      - You refer to 5 friends<br>
                      - They refer to 5 friends<br>
                      - Total you have 3,125 referrals in your network<br>
                      - If every friend redeem every day then you get 31250 coins every day = Rs 312 every day just from network.
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
