<div class="light-to-dark-teal go-full-screen-box">
  <div class="ui container">
    <div class="ui grid p-15">

      <div class="row">
        <div class="five wide column">
          <img src="assets/images/left-arrow.png" style="width: 7vmin;" class="ui icon" [routerLink]="'/home'">
        </div>
        <div class="eleven wide right aligned column font-size-5vw" style="color: white;">
          <img src="assets/images/white-cross-icon.png" style="width: 7vmin;" class="ui icon fadeInTransition" *ngIf="prisePoints">
        </div>
      </div>

      <div class="row" style="padding-top: 5vmin;">
        <div class="sixteen wide column">
          <div class="bold-font-weight font-roboto text-white font-size-9vw title-text">Spin the Wheel</div>
          <div class="font-rancho text-white pt-5 line-height-normal sub-title-text" style="font-size: 5vw;">You will earn, any no. of coins that comes for you.</div>
        </div>
      </div>

      <div class="row" style="position: absolute; top: 75%; left: 0;">
        <div class="ui sixteen wide column">
          <button class="ui fluid large button" style="border-radius: 0.5em; background: white" (click)="spinTheWheel(spinnerWheelImage)">
            <span class="font-size-5vw line-height-normal text-black font-roboto bold-font-weight button-with-text">
              {{ btnText }}
            </span>
          </button>
        </div>
      </div>

      <div class="centered-thing d1">
        <img src="assets/images/spinner-circle-img.png" id="spinner-wheel" style="width: 60vmin; height: 60vmin; transition: all 1s linear;" #spinnerWheelImage>
      </div>
      <div class="centered-thing d1">
        <img src="assets/images/spinner-circle-arrow-img.png" class="d1" id="spinner-tick" style="width: 18vmin; height: 21vmin;">
      </div>

      <div class="row fadeInTransition" style="position: absolute; top: 50%; left: 0;" *ngIf="prisePoints">
        <div class="ui center aligned sixteen wide column">
          <span class="font-size-7vw font-roboto text-white bolder-font-weight line-height-normal">You have received<br><span style="font-size: 12vmin;">{{ prisePoints }}</span> coins.</span>
        </div>
      </div>

      <app-sub-components-advertisement></app-sub-components-advertisement>

    </div>
  </div>
</div>
