<div class="light-to-dark-teal go-full-screen-box">
  <div class="ui container">
    <div class="ui grid p-15">

      <div class="row" style="height: 9vh;">
        <div class="five wide column">
          <img src="assets/images/left-arrow.png" style="width: 7vmin;" class="ui icon" [routerLink]="'/home'">
        </div>
        <div class="eleven wide column font-size-5vw" style="color: white; padding-top: 1.5vmin;">
          Your Wallet
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui card" style="border-radius: 3vmin; width: 100%;padding-bottom: 5em ;height: 90vh;">
            <div class="content">

              <app-sub-components-current-balance [amount]="'197.0'"></app-sub-components-current-balance>

              <div class="description" style="margin-bottom: 8vmin;">
                <button class="ui fluid button" style="background: #48B1BF; color: white; border-radius: 3vmin; font-size: 4vw;" routerLink="/redeem">Redeem Now</button>
              </div>

              <div class="description">
                <div class="ui grid plr-10">
                  <div class="row" style="background: #48B1BF; padding: 0;">
                    <div class="seven wide column left floated ui button bold-font-weight off-side" style="padding-left: 0; padding-right: 0;" (click)="changeThePanel()" *ngIf="!transactionSideOn">Transaction History</div>
                    <div class="nine wide column text-white on-side" style="position: absolute; left: 60%;" *ngIf="!transactionSideOn">Redeem History</div>
                    <div class="ten wide column text-white on-side" style="position: absolute;" *ngIf="transactionSideOn">Transaction History</div>
                    <div class="six wide column right floated ui button font-roboto bold-font-weight off-side" style="padding-left: 0; padding-right: 0" (click)="changeThePanel()" *ngIf="transactionSideOn">Redeem History</div>
                  </div>

                  <div class="row add-scrolling hide-scrollbar" style="height: 60vh; padding-bottom: 30vmin; border: solid #C4C4C4; border-width: 0 0.1em 0.1em 0.1em; background: #F8F8F8">

                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="eleven wide column" style="padding: 0.1em 0 0.1em 1em;">
                          <div class="row font-roboto f-size-4 bold-font-weight" style="line-height: 1.4;">
                            Daily Spin Bonus
                          </div>
                          <div class="row font-size-3vw font-roboto">
                            10 March, 2020 02:45 PM
                          </div>
                        </div>
                        <div class="five wide right aligned column" style="padding: 1em 1em 1em 0;">
                          <span class="f-size-4 bolder-font-weight font-roboto">5</span><span class="font-size-3vw font-roboto bold-font-weight pr-5">.0</span>
                          <img class="ui icon" style="width: 25%" src="assets/images/pile-of-coin-icon.png">
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="eleven wide column" style="padding: 0.1em 0 0.1em 1em;">
                          <div class="row font-roboto f-size-4 bold-font-weight" style="line-height: 1.4;">
                            Hourly Spin Bonus
                          </div>
                          <div class="row font-size-3vw font-roboto">
                            10 March, 2020 02:45 PM
                          </div>
                        </div>
                        <div class="five wide right aligned column" style="padding: 1em 1em 1em 0;">
                          <span class="f-size-4 bolder-font-weight font-roboto">205</span><span class="font-size-3vw font-roboto bold-font-weight pr-5">.0</span>
                          <img class="ui icon" style="width: 25%" src="assets/images/pile-of-coin-icon.png">
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>
                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="sixteen wide center aligned column font-size-3vw" style="padding: 1em 0;">
                            test ad
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="eleven wide column" style="padding: 0.1em 0 0.1em 1em;">
                          <div class="row font-roboto f-size-4 bold-font-weight" style="line-height: 1.4;">
                            Lucky Draw Win
                          </div>
                          <div class="row font-size-3vw font-roboto">
                            10 March, 2020 02:45 PM
                          </div>
                        </div>
                        <div class="five wide right aligned column" style="padding: 1em 1em 1em 0;">
                          <span class="f-size-4 bolder-font-weight font-roboto">205</span><span class="font-size-3vw font-roboto bold-font-weight pr-5">.0</span>
                          <img class="ui icon" style="width: 25%" src="assets/images/pile-of-coin-icon.png">
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="eleven wide column" style="padding: 0.1em 0 0.1em 1em;">
                          <div class="row font-roboto f-size-4 bold-font-weight" style="line-height: 1.4;">
                            Lucky Jackpot win
                          </div>
                          <div class="row font-size-3vw font-roboto">
                            10 March, 2020 02:45 PM
                          </div>
                        </div>
                        <div class="five wide right aligned column" style="padding: 1em 1em 1em 0;">
                          <span class="f-size-4 bolder-font-weight font-roboto">205</span><span class="font-size-3vw font-roboto bold-font-weight pr-5">.0</span>
                          <img class="ui icon" style="width: 25%" src="assets/images/pile-of-coin-icon.png">
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="eleven wide column" style="padding: 0.1em 0 0.1em 1em;">
                          <div class="row font-roboto f-size-4 bold-font-weight" style="line-height: 1.4;">
                            Task Completion Bonus
                          </div>
                          <div class="row font-size-3vw font-roboto">
                            10 March, 2020 02:45 PM
                          </div>
                        </div>
                        <div class="five wide right aligned column" style="padding: 1em 1em 1em 0;">
                          <span class="f-size-4 bolder-font-weight font-roboto">205</span><span class="font-size-3vw font-roboto bold-font-weight pr-5">.0</span>
                          <img class="ui icon" style="width: 25%" src="assets/images/pile-of-coin-icon.png">
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>


                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="eleven wide column" style="padding: 0.1em 0 0.1em 1em;">
                          <div class="row font-roboto f-size-4 bold-font-weight" style="line-height: 1.4;">
                            Task Completion Bonus
                          </div>
                          <div class="row font-size-3vw font-roboto">
                            10 March, 2020 02:45 PM
                          </div>
                        </div>
                        <div class="five wide right aligned column" style="padding: 1em 1em 1em 0;">
                          <span class="f-size-4 bolder-font-weight font-roboto">205</span><span class="font-size-3vw font-roboto bold-font-weight pr-5">.0</span>
                          <img class="ui icon" style="width: 25%" src="assets/images/pile-of-coin-icon.png">
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column" style="padding: 0.5em 0.3em 0 0.3em;">
                      <div class="ui grid" style="padding: 0 0.2em;">
                        <div class="eleven wide column" style="padding: 0.1em 0 0.1em 1em;">
                          <div class="row font-roboto f-size-4 bold-font-weight" style="line-height: 1.4;">
                            Task Completion Bonus
                          </div>
                          <div class="row font-size-3vw font-roboto">
                            10 March, 2020 02:45 PM
                          </div>
                        </div>
                        <div class="five wide right aligned column" style="padding: 1em 1em 1em 0;">
                          <span class="f-size-4 bolder-font-weight font-roboto">205</span><span class="font-size-3vw font-roboto bold-font-weight pr-5">.0</span>
                          <img class="ui icon" style="width: 25%" src="assets/images/pile-of-coin-icon.png">
                        </div>
                      </div>
                      <div class="ui divider"></div>
                    </div>



                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <app-sub-components-advertisement></app-sub-components-advertisement>

    </div>
  </div>
</div>
