<div class="light-to-dark-teal go-full-screen-box">
  <div class="ui container">
    <div class="ui grid p-15">

      <div class="row">
        <div class="five wide column">
          <img src="assets/images/left-arrow.png" style="width: 7vmin;" class="ui icon" [routerLink]="'/home'">
        </div>
        <div class="eleven wide column font-size-5vw" style="color: white;"></div>
      </div>

      <div class="row" style="padding-top: 5vmin;">
        <div class="sixteen wide column">
          <div class="bold-font-weight font-roboto text-white font-size-9vw">Spin the Wheel</div>
          <div class="font-rancho text-white pt-5 line-height-normal" style="font-size: 5vw;">You will earn, any no. of coins that comes for you.</div>
        </div>
      </div>

      <div class="centered-thing">
        <img src="assets/images/spinner-circle-img.png" style="width: 60vmin; height: 60vmin;">
      </div>
      <div class="centered-thing">
        <img src="assets/images/spinner-circle-arrow-img.png" style="width: 18vmin; height: 21vmin;">
      </div>

      <div class="centered-thing text-white" style="width: 100%;background: linear-gradient(180deg, rgba(6, 190, 182, 0.8) 0%, rgba(72, 177, 191, 0.8) 100%);">
        <div class="ui grid">
          <div class="row">
            <div class="ui sixteen wide center aligned column font-roboto bolder-font-weight" style="font-size: 6.5vmin; line-height: 10vmin;">
              <img src="assets/images/frown-face-icon.png" alt="frown-face" class="ui icon" style="width: 7vmin;">
              <span> Not Available</span>
            </div>
            <div class="ui sixteen wide center aligned column font-roboto bold-font-weight f-size-4" style="line-height: 10vmin;">
              please, come back after
            </div>
            <div class="ui sixteen wide center aligned column font-roboto bold-font-weight" style="line-height: 10vmin;">
              <span class="f-size-10">8:45</span>
              <span class="f-size-4"> p.m.</span>
            </div>
          </div>
        </div>
      </div>

      <app-sub-components-advertisement></app-sub-components-advertisement>

    </div>
  </div>
</div>
