<div class="light-to-dark-teal go-full-screen-box">
  <div class="ui container">
    <div class="ui grid p-15">

      <div class="row">
        <div class="five wide column">
          <img src="assets/images/left-arrow.png" style="width: 7vmin;" class="ui icon" [routerLink]="'/home'">
        </div>
        <div class="eleven wide column font-size-5vw" style="color: white; padding-top: 1.5vmin;">
          Your Profile
        </div>
      </div>

      <div class="row" style="padding-top: 5vmin;">
        <div class="sixteen wide column">
          <div class="bold-font-weight font-roboto text-white font-size-9vw">Amaan Khan</div>
          <div class="font-rancho text-white pt-5 line-height-normal" style="font-size: 5vw;">Email: amaan.khan@gmail.com</div>
        </div>
      </div>

      <div class="row add-scrolling hide-scrollbar" style="padding-top: 5vmin;">
        <div class="sixteen wide column">
          <div class="ui vertical fluid buttons">

            <button class="ui right labeled big icon button" style="background: white; border-radius: 3vmin 3vmin 0 0;padding-bottom: 2vmin;">
              <div style="width: 20%; height: 100%;">
                <img class="ui image" src="assets/images/Rating-img.png" style="height: 100%; width: 100%;">
              </div>
              <span class="bold-font-weight font-roboto f-size-4 text-black" style="position:absolute; top: 52%; left: 30%; transform: translateY(-50%);">Rate Us</span>
              <div class="ui icon" style="background: white; padding-top: 8%; width: 20%;">
                <img src="assets/images/small-go-next.png" style="width: 7vmin; position: absolute; top: 27%; left: 30%;">
              </div>
            </button>

            <button class="ui right labeled big icon button" style="background: white; padding-bottom: 2vmin;">
              <div style="width: 20%; height: 100%;">
                <img class="ui image" src="assets/images/update-icon.png" style="height: 100%; width: 100%;">
              </div>
              <span class="bold-font-weight font-roboto f-size-4 text-black" style="position: absolute; top: 52%; left: 30%; transform: translateY(-50%);">Update</span>
              <div class="ui icon" style="background: white; padding-top: 8%; width: 20%;">
                <img src="assets/images/small-go-next.png" style="width: 7vmin; position: absolute; top: 27%; left: 30%;">
              </div>
            </button>

            <button class="ui right labeled big icon button" style="background: white; padding-bottom: 2vmin;">
              <div style="width: 20%; height: 100%;">
                <img class="ui image" src="assets/images/feedback-icon.png" style="height: 100%; width: 100%;">
              </div>
              <span class="bold-font-weight font-roboto f-size-4 text-black" style="position: absolute; top: 52%; left: 30%; transform: translateY(-50%);">Feedback</span>
              <div class="ui icon" style="background: white; padding-top: 8%; width: 20%;">
                <img src="assets/images/small-go-next.png" style="width: 7vmin; position: absolute; top: 27%; left: 30%;">
              </div>
            </button>

            <button class="ui right labeled big icon button" style="background: white; padding-bottom: 2vmin;">
              <div style="width: 20%; height: 100%;">
                <img class="ui image" src="assets/images/terms-and-condition-icon.png" style="height: 100%; width: 100%;">
              </div>
              <span class="bold-font-weight font-roboto f-size-4 text-black" style="position: absolute; top: 52%; left: 30%; transform: translateY(-50%);">Terms & Conditions</span>
              <div class="ui icon" style="background: white; padding-top: 8%; width: 20%;">
                <img src="assets/images/small-go-next.png" style="width: 7vmin; position: absolute; top: 27%; left: 30%;">
              </div>
            </button>

            <button class="ui right labeled big icon button" style="background: white; padding-bottom: 2vmin;">
              <div style="width: 20%; height: 100%;">
                <img class="ui image" src="assets/images/privacy-policy-icon.png" style="height: 100%; width: 100%;">
              </div>
              <span class="bold-font-weight font-roboto f-size-4 text-black" style="position: absolute; top: 52%; left: 30%; transform: translateY(-50%);">Privacy Policy</span>
              <div class="ui icon" style="background: white; padding-top: 8%; width: 20%;">
                <img src="assets/images/small-go-next.png" style="width: 7vmin; position: absolute; top: 27%; left: 30%;">
              </div>
            </button>

            <button class="ui right labeled big icon button" style="background: white;border-radius: 0 0 3vmin 3vmin; padding-bottom: 4vmin;" onclick="googleSignOut()">
              <div style="width: 20%; height: 100%;">
                <img class="left floated ui mini image" src="assets/images/logout-icon.png" style="width: 100%; height: 100%;">
              </div>
              <span class="bold-font-weight font-roboto f-size-4 text-black" style="position: absolute; top: 52%; left: 30%; transform: translateY(-50%);">Logout</span>
              <div class="ui icon pt-10" style="background: white; padding-top: 8%; width: 20%;">
                <img src="assets/images/small-go-next.png" style="width: 7vmin; position: absolute; top: 27%; left: 30%;">
              </div>
            </button>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
